<!DOCTYPE html>
<html lang="en">

<head>
    <title>Collection Guides</title>
    <link rel="icon" href="https://libapps.s3.amazonaws.com/accounts/226289/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Script for archives search functionlity -->
    <!--<link href="../css/library_updated.css" rel="stylesheet">-->
    <!-- End script for fox hunt search functionlity -->
    <!-- Add jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!--Add bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link rel="Stylesheet" href="../styles/main.css">
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.4.0/jquery-migrate.min.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-3375146-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>

<body id="archives-home">
    <div id="skip" class="sr-only sr-only-focusable">
        <ul>
            <li><a href="#navbar">skip to Main Navigation</a></li>
            <li><a href="#mainContainer">skip to Main Content</a></li>
            <li><a href="#footer">skip to Footer</a></li>
        </ul>
    </div>
    <div id="headerContainer">
        <a id="archives-header" href="http://library.marist.edu/archives/LTP/LTP.xml" target="_self"><span class="sr-only">Return to Archives Homepage</span></a>
        <div id="headerMenu"></div>
    </div>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse" role="menu">
                <ul class="nav navbar-nav" role="menubar">
                    <li><a role="menuitem" href="http://www.marist.edu"><br>Home<br></a></li>
                    <li><a role="menuitem" href="http://library.marist.edu/archives/LTP/LTP.xml">Lowell
                            Thomas:<br>Textual Materials</a></li>
                    <li><a role="menuitem" href="http://library.marist.edu/archives/LTP/LTP.xml">Lowell
                            Thomas:<br>Graphic Materials</a></li>
                    <li><a role="menuitem" href="http://library.marist.edu/archives/LTP/LTP.xml">Lowell Thomas:<br>Sound
                            Recordings</a></li>
                    <li><a role="menuitem" href="http://library.marist.edu/archives/LTP/LTP.xml">Lowell Thomas:<br>Film
                            Collection</a></li>
                    <li><a role="menuitem" href="http://library.marist.edu/archives/LTP/LTP.xml">Lowell
                            Thomas:<br>Objects</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right archives" role="menu">
                    <li><a role="menuitem" href="https://library.marist.edu/" tabindex="0">Library Home</a></li>
                    <li><a role="menuitem" href="https://www.marist.edu/" tabindex="0">Marist Home</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div><!--/.container-->
    </nav>

    <h1>Historical Note</h1>
    <div class="col-xs-12"> <!--Start of body-->
        
        <h1 style="color: #b31b1b; margin-left: 60px; margin-bottom: 40px;">Part 1</h1>

        <p id="info">
            Lowell Jackson Thomas was born in Woodington, Ohio on 6 April 1892 to two school teachers, Harry
            G. Thomas and Harriet Wagner Thomas. The family did not remain in Darke County, Ohio for very
            long because Lowell's father wanted to become a doctor. Harry G. Thomas's pursuit of a medical
            degree led the family to Kirkman, Iowa where five-year-old Lowell was enrolled in school for the
            first time. Harry's studies soon led him to the University of Nebraska. Upon graduation, Harry
            G. Thomas followed his brother's suggestion to begin his medical practice in the twin mining
            boom towns of Cripple Creek and Victor, Colorado. It was here in the rugged American West that
            Lowell spent the better part of his childhood and young adult years.
        </p>
        <p id="info">
            Following graduation from Victor High School in 1909, Thomas began an ambitious course of study
            at the University of Northern Indiana, better known as Valparaiso University. In two years he
            graduated with a Bachelor of Arts and Master's degree. Returning to his parents' home in
            Colorado, Thomas worked for a time at one of the local mines. When offered a job as a reporter
            at the Victor "Daily Record" and then at the Victor "Daily News" Thomas accepted. He was 20
            years old and not nearly done with his schooling.
        </p>
        <p id="info">
            Fall of 1912 brought the beginning of another year of study, this time for a Master's degree at
            the University of Denver. It was here that Thomas met a fellow student, Frances Ryan, a local
            woman who would later become his wife of 58 years. Still interested in journalism, Thomas worked
            for a local newspaper during his enrollment at the University.
        </p>
        <p id="info">
            Successfully completing his course of study in Denver, Thomas moved on to the Chicago-Kent
            College of Law in the fall of 1913. Thomas, who was taught elocution from an early age by his
            father, accepted an offer by the school to teach oratory while he pursued his law degree. In
            addition, he found work once again as a reporter at the Chicago "Evening Journal." Thomas gained
            a bit of fame as well as the good will of wealthy Chicago businessmen and industrialists by
            exposing a swindler, Carlton Hudson (also known as C. H. Betts) who was attempting to blackmail
            them. He also used his position as a reporter to pursue what was to become a lifelong passion -
            travel. Railroad executives agreed to underwrite his travel to the Pacific Northwest in exchange
            for articles that highlighted the merits of traveling by rail. It was during this trip in 1914
            that Thomas visited Alaska for the first time.
        </p>
        <p id="info">
            Not yet finished with his legal studies, Thomas applied for and received the Charlotte Elizabeth
            Procter Fellowship award from Princeton University. Arriving at Princeton in 1915, Thomas was
            once again offered and accepted a position as a professor of speech. He also taught classes in
            public speaking at Brooklyn Law School.
        </p>
        <p id="info">
            Thomas returned to Alaska in the summers of 1915 and 1916. On these trips he went equipped with
            motion picture and still cameras. He planned to film and photograph the virgin Alaskan Territory
            and share his experiences with the people back east. Thomas printed booklets, posters and fliers
            to advertise his lecture series on Alaska. His Alaska travelogue was a multimedia presentation
            that incorporated film, magic lantern slides and narration to entertain and educate the public.
            The multimedia travelogue format was popularized by lecturers, such as Burton Holmes and Frank
            R. Roberson, who preceded Thomas. Although new to the field, Thomas's travelogue was modestly
            successful on the East coast. Early in 1917 Thomas was invited to give a lecture to Congressmen
            and other notable people in Washington, D.C. Franklin K. Lane, the Secretary of the Interior,
            was so impressed with Thomas's presentation that he asked Thomas to head the "See America First"
            campaign intended to extol the virtues of domestic travel during World War I. It was during
            these early travelogue days that Thomas stopped using his middle name professionally. For the
            rest of his working days he would be known simply as "Lowell Thomas," but his wife, close
            friends and relatives called him "Tommy."
        </p>
        <p id="info">
            The United States declaration of war on Germany in April 1917 canceled the "See America First"
            campaign before Thomas had a chance to begin working on it. Instead, Lane told Thomas he would
            arrange credentials for him to travel to the war fronts in Europe so that Thomas could gather
            information and return home to create his multimedia presentations to rally the American people
            to the war effort. Thomas was excited by the offer, even though Lane could offer no government
            funding. Thomas turned to the Chicago businessmen and industrialists who benefited when he
            exposed Carlton Hudson. They remained sufficiently grateful to give Thomas all the money he
            needed for travel, film and other expenses. Once he gained financing for his undertaking, Thomas
            signed agreements with "Leslie's Weekly" and newspapers around the country to be their official
            war correspondent.
        </p>
        <p id="info">
            On 4 August 1917, Lowell Thomas wed Frances Ryan. By the end of the month they were on a steamer
            headed for France. With them was Harry Chase, a technical wizard, photographer and motion
            picture cameraman who formerly worked for the lecturer Frank R. Roberson. When Roberson died in
            1916, Thomas purchased thousands of glass plate negatives, lantern slides and other items from
            his widow. Chase, who along with other Roberson coworkers was unable to successfully continue
            the Roberson lectures, accepted Thomas's offer of employment.
        </p>
        <p id="info">
            Thomas did not feel the European war fronts were offering particularly compelling stories to
            bring back home. When given the opportunity in January 1918 to cover the British war effort in
            Arabia, Thomas and Chase packed their equipment and left Italy. His wife Frances joined the
            American Red Cross and went to Genoa, Italy.
        </p>
        <p id="info">
            It was in Egypt, Palestine and Arabia that Thomas and Chase took their most spectacular motion
            pictures and photographs. Thomas flew in an airplane for the first time in Egypt, an
            exhilarating experience that contributed to a lifelong love of flying. He and Chase mounted a
            motion picture camera in the open rear cockpit of a biplane to film the Great Pyramids of Giza
            from on high. When General Edmund Allenby and the Egyptian Expeditionary Forces drove the Turks
            from Jerusalem, Thomas thought he had a story that would resonate back home.
        </p>
        <p id="info">
            Lowell Thomas met T. E. Lawrence in Jerusalem for the first time in February 1918. Colonel
            Lawrence was fighting alongside Arab leaders such as Emir Feisal who were revolting against the
            Turks in the hopes of becoming the rulers of their own lands. Thomas spent over a week in Arabia
            with Lawrence, listening to his tales while photographing and filming him. The story of the fall
            of Jerusalem and Lawrence's role in it would later play a significant role in Lowell Thomas's
            life and career, and ignited the spark that propelled Lawrence to become a legendary historical
            figure.
        </p>
        <p id="info">
            When World War I ended in November 1918, Harry Chase returned to the United States to begin
            processing the photographs and reels of film that documented the Allied war effort. Soon Thomas
            would hire the superb artist Augusta Heyder to paint the hundreds of lantern slides that were
            made from the glass plate negatives. The lantern slides, which Heyder skillfully brought to
            life, would be used in his new travelogue productions.
        </p>

        <h1 style="color: #b31b1b; margin-left: 60px; margin-bottom: 40px;">Part 2</h1>

        <p id="info">
            Thomas was not yet done with his European venture. In late December, he went to Germany where he spent
            several weeks gathering information about the revolt that followed the war. It would become the subject of
            one of his travelogues when he returned to the United States.
        </p>
        <p id="info">
            By February 1919, Lowell Thomas and Harry Chase were editing the film and selecting the photographs for
            several travelogues that Thomas wrote having to do with the war. Thomas was concerned that the American
            public would not be terrifically engaged now that the war in Europe was over. Opening night was 2 March 1919
            at the Century Theatre in New York. As he anticipated, the public did not throng to his travelogue
            presentations. Only when he performed either the Palestine (featuring Edmund Allenby) or the Arabia
            (featuring T. E. Lawrence) travelogues did he get something of a crowd. So popular were these shows with the
            Jewish community that Thomas had them translated into Yiddish and hired Herman Bernard to give performances
            on New York's East Side.
        </p>
        <p id="info">
            When his two week run at the Century Theatre ended, Thomas moved his show to the Garden Theater at Madison
            Square. The change in venue did not noticeably affect the number of patrons on any given night. Thomas's
            lecture on the role of the British in the fall of Jerusalem greatly impressed one patron: Percy Burton.
            Burton was a British impresario who urged Thomas to bring his Palestine and Arabia travelogues to London.
            When Burton arranged for Thomas to open his show at the Royal Opera House in London's Covent Garden, Thomas
            agreed to take his travelogue shows overseas. On 31 July 1919, Thomas, his wife and Chase were headed back
            to Europe on a French steamship. They were accompanied by Dale Carnagey (who later changed his name to
            Carnegie). Thomas had met Carnagey during his earlier travelogue days. Feeling that it would make for a more
            dramatic presentation, Thomas and Carnagey worked on board the ship to combine the two travelogues into one.
        </p>
        <p id="info">
            After arriving in France, Thomas had to hurry to London. Opening on 14 August 1919 under the auspices of The
            English-Speaking Union, "With Allenby in Palestine and with Lawrence in Arabia" was a sensation. Edmund
            Allenby and, particularly, T. E. Lawrence became the superstars of their day. Thomas's wife Frances proudly
            wrote to her parents that so popular was the travelogue that the return of the opera was delayed to hold
            Thomas over for a few weeks longer. Eventually the opera returned to its rightful home, but Londoners had
            not yet had their fill of Thomas's story. On 17 October 1919 he opened at the cavernous Royal Albert Hall,
            and on 8 December 1919 he moved his show to Philharmonic Hall. By the end of the year, he was performing his
            travelogue at Queen's Hall to enthusiastic crowds. Sir Ernest Shackleton, impressed with Thomas's success,
            sought out his advice when he began giving his own travelogue on the South Pole.
        </p>
        <p id="info">
            During his stay in London, Thomas met with T. E. Lawrence several times. Thomas even introduced Lawrence to
            Frances. An entry from Frances's journal dated 22 August 1919 states: "Colonel Lawrence came for lunch. We
            knew he would not like to go out to any popular restaurants, so we had lunch served in our apartment. When
            Tommy introduced him, I held out my hand and said, 'I am very pleased to know you.'" Letters from Lawrence
            indicate that he and Thomas had a cordial relationship.
        </p>
        <p id="info">
            During his London run, Thomas was invited by the Prime Minister of Australia to take his travelogue to
            Australia and New Zealand. By June 1920, Thomas, Frances, and Harry Chase were once again on a steamship.
            This time they were headed for Melbourne. Thomas was by now planning his next travelogue production. Fearing
            that a travelogue about the war would lose currency in a couple of years, Thomas and Chase began
            photographing and filming for their next production. They traveled to Malaya, Burma and India, using the
            receipts from their current travelogue performances to underwrite their new venture. Although not as wildly
            successful as his first travelogue, "Through Romantic India" proved to be a success.
        </p>
        <p id="info">
            In 1919 Thomas signed a three book deal with Harper's & Brothers that would chronicle his wartime
            experiences. He was a prolific writer who wrote more than 50 books and countless articles in his lifetime.
            When in 1924 eight American fliers attempted to become the first to fly around the world, Thomas was asked
            to be the flight historian. His serialized accounts of their exploits appeared in American newspapers. The
            "First World Flight" inspired a new Thomas travelogue as well as a book by the same title.
        </p>
        <p id="info">
            During the 1920s Thomas signed additional book deals while continuing to perform his travelogues. Meanwhile,
            he and Frances continued their peripatetic lifestyle, even after the birth of their son, Lowell Junior, in
            London in 1923. In 1926 young Lowell was left behind in New York as the Thomases undertook a new adventure.
            Covering over 20,000 miles in a matter of months, they toured Europe and Russia by air, often in retrofitted
            old war planes. Published in 1927, "European Skyways" was Thomas's exuberant account of their travels.
        </p>
        <p id="info">
            The Thomases were prospering by the late 1920s. Lowell and Fran finally settled down, purchasing the Clover
            Brook farm on Quaker Hill at Pawling, New York. Thomas continued to perform his travelogues while also
            maintaining a full schedule on the more traditional lecture circuit. In 1927, Thomas signed a contract with
            Doubleday and Company to write six books. Realizing he needed assistance, Thomas entered into what turned
            out to be a lifelong partnership with Prosper Buranelli who wrote and edited numerous books, articles and
            scripts with him. By all accounts a brilliant man, Buranelli was credited with popularizing the crossword
            puzzle in American newspapers.
        </p>
        <p id="info">
            On 29 September 1930 Lowell Thomas became a radio broadcaster who for fifteen minutes Monday through Friday
            highlighted the daily news for the American public. He had been invited to audition by the "Literary Digest"
            when the sponsor of the program became disaffected with Thomas's predecessor, Floyd Gibbons. Thomas's
            distinctive voice and ease and comfort behind the microphone made him a natural. He would broadcast "Lowell
            Thomas and the News" for 46 continuous years, first on the NBC and then on the CBS radio network. The Sun
            Oil Corporation and then Procter & Gamble were to become major sponsors of Thomas's broadcast. It was not
            long before Thomas was asked to become the voice of the Fox Movietone News. He and Prosper Buranelli worked
            feverishly to produce timely newsreels that played in American movie theaters. Newsreels offered the only
            opportunity for Americans to see as well as hear the news of the day before the advent of television.
        </p>
        <p id="info">
            Lowell Thomas was a sportsman, an avid skier and golfer. To make his favorite pastimes more accessible
            Thomas built a golf course and ski slope, with an accompanying ski tow, on his property. Thomas helped to
            promote skiing, a sport that that was still in its infancy in America in the 1930s, by doing remote radio
            broadcasts from various ski lodges. An interest in softball led him to construct a baseball field on Quaker
            Hill. His softball games, often held to raise money for charities, attracted a wide variety of celebrities,
            athletes, explorers, politicians and journalists as both players and spectators. Babe Ruth, Jim Thorpe,
            Heywood Broun, Vice President Henry A. Wallace and Anna May Wong are just a few of those who played in the
            games. Thomas's team, the Nine Old Men, took on a variety of opponents such as Gene Tunney's Boxeroos and
            Robert L. Ripley's Believe-it-or-Nots. Most notable of the opposing teams was President Franklin Delano
            Roosevelt's The Packers (a tongue-in-cheek reference to Roosevelt's attempt to increase the number of
            Supreme Court Justices). Thomas's ballgames with his Hyde Park neighbor's team became an annual event before
            the onset of World War II.
        </p>
        <p id="info">
            It was also in the 1930s that Thomas became interested in developing the land that surrounded his Quaker
            Hill estate. To prevent land developers from purchasing a large tract of land and then dividing it into
            small parcels, lessening the value of his own land and the quality of life as he saw it, Thomas purchased
            the Fred F. French estate. The property was eventually divided into large tracts to attract more well-heeled
            buyers. Among those who counted themselves neighbors of Thomas were the Thomas E. Deweys and the Edward R.
            Murrows.
        </p>
        <p id="info">
            Early in his career, Thomas began to join private clubs where men of power and influence met (rarely were
            women allowed to be members). Often he was asked to become President or a member of the Board of Directors.
            Among the influential clubs Thomas belonged to in his lifetime were The Explorers Club, Adventurers' Club,
            Advertising Club, Dutch Treat Club and the Bohemian Club where Thomas would attend Caveman Camp with his
            good friend of many years, former President Herbert Hoover.
        </p>
        <p id="info">
            In sharp contrast to his first wartime experience, Lowell Thomas stayed on the home front and continued his
            daily news broadcasts for most of World War II. Thomas spent the early war years writing a book about
            several of the heroes of World War II. Published in 1943, it was titled "These Men Shall Never Die." It was
            not until 1945 that Thomas toured the war fronts when the United States government sent out invitations to
            radio news commentators. Among the political and military leaders Thomas met were President Sergio Osmena of
            the Philippines, Chiang Kai-shek of China and Generals George S. Patton and Dwight D. Eisenhower of the
            American Army. During this tour of the war fronts Thomas once again acted as a war correspondent. He wrote
            numerous articles for the Associated Newspapers, Inc., which distributed them to newspapers across the
            United States.
        </p>
        <p id="info">
            Despite many times having traveled the far reaches of the earth, it was not until 1949 that Thomas became
            one of the few Westerners allowed entry into Tibet. Most likely, the young Dalai Lama and his advisers hoped
            to garner support for their cause against the Communist leader Mao Zedong, who they feared would overrun
            their country. Although Thomas wanted to bring a professional filmmaker and photographer along with him,
            only he and his son, Lowell Junior, were granted a lamyik, the Tibetan guarantee of safe conduct that
            carried the Dalai Lama's seal. The responsibility for filming, photographing and tape recording the sights
            and sounds of Tibetan life would fall mostly to Lowell, Jr. Thomas and his son were among a handful of
            people who were allowed to photograph the Dalai Lama, and they were the first to film him. They arrived at
            Lhasa, the Tibetan capital, just as the summer festival was coming to a close. They were able to film and
            photograph the masked actors as they sang, danced and enacted a heroic drama. The Thomases' visit with the
            Dalai Lama lasted almost two weeks. During that time, they had the opportunity to meet a few Westerners who
            were allowed to live in Tibet: Hugh Richardson, Heinrich Harrer, Peter Aufschnaiter and Reggie Fox.
        </p>

        <h1 style="color: #b31b1b; margin-left: 60px; margin-bottom: 40px;">Part 3</h1>

        <p id="info">
            A most unfortunate accident befell Lowell Thomas as he and his son made their way out of Tibet. The long
            journey to and from Tibet had to be taken over rough, narrow roads that would not allow for the passage of
            automobiles. The main means of transportation were the burro and horse. When Thomas attempted to remount his
            horse along the way out of Tibet, the horse reared and he was thrown onto rocks. Isolated and faced with
            many days of travel before Thomas could get medical attention, Lowell, Jr. created a makeshift stretcher for
            his father. The baggage bearers who accompanied them on their journey were enlisted to carry Thomas the rest
            of the way. When finally attended to, doctors discovered that Thomas had broken his hip in several places.
            It was many months before Thomas could walk without the aid of crutches.
        </p>
        <p id="info">
            The 1950s saw Thomas put his entrepreneurial skills to use. He saw the possibilities offered by a new
            cinematic form of entertainment called Cinerama. A movie filmed and presented in Cinerama simulated a three
            dimensional effect for patrons who had the feeling of being enveloped by the large, wide, curved projection
            screen. The specially designed screen was louvered in such a way as to allow for three separate movie
            projectors to operate at once, each projecting on a third of the screen. The sound system designed by Hazard
            Reeves further enhanced the three dimensional effect of Cinerama. Thomas's first film, "This is Cinerama"
            was a huge success despite the fact that existing movie theaters had to be reconfigured with an expensive
            new projection screen and projectors to implement the new technology. Other successful Cinerama films
            produced by Lowell Thomas were "Seven Wonders of the World" and "Search for Paradise." While filming "Search
            for Paradise" in Southeast Asia, Thomas went to Nepal in 1956 as one of the official representatives of the
            United States government at the coronation of King Mahendra. Cinerama did not continue to flourish after
            Thomas left the company, mostly, Thomas believed, because of inept leadership. Into the 1970s Thomas
            believed that Cinerama could make a comeback.
        </p>
        <p id="info">
            A longer lasting venture for Thomas was Capital Cities Communications, which became a communications giant.
            Thomas and his business partner, Frank Smith, started Cap Cities, as it came to be called, with the purchase
            of a television station at Albany, New York. Not long after Thomas's death, Cap Cities merged with the
            American Broadcasting Company to become a several billion dollar conglomerate.
        </p>
        <p id="info">
            While the beginning of the 1950s saw Thomas focusing on the very big screen, the end of the 1950s saw him
            turn to a much smaller medium, television. Similar to his early travelogue days, Thomas traveled to exotic
            places in the world and created entertaining and informative one hour long television shows about where he
            had been. The television series, "High Adventure with Lowell Thomas," brought faraway places into America's
            living rooms. The first show was about New Guinea, a place that held particular fascination for Thomas and
            to which he returned several times. Morocco, the Australian Outback, Congo, the North Pole and India were a
            few of the places highlighted by the television series, which lasted three years.
        </p>
        <p id="info">
            Thomas turned 70 years old in the early 1960s, but he conceded little to aging. He continued to ski and play
            golf with great enthusiasm. In 1962 he was one of several dignitaries who traveled to Antarctica on a tour
            of scientific stations. One year later he accompanied Rear Admiral James Reedy and other military personnel
            on an historic flight from Cape Town, South Africa to McMurdo, Antarctica. In the intervening year, Thomas
            continued to travel widely, returning once again to New Guinea. But in November of 1963, following a
            speaking engagement, Thomas was admitted to Henry Ford Hospital in Detroit, Michigan. Doctors initially
            suspected he had a heart attack, but upon further examination concluded that he was suffering from
            exhaustion. Thomas attributed the cause to jet travel that upset his metabolic clock ("jet lag" was a term
            that had not yet come into wide use). Whatever the cause, he recovered completely.
        </p>
        <p id="info">
            Thomas published three books in the 1960s, "Sir Hubert Wilkins: His World of Adventure," "Lowell Thomas'
            Book of the High Mountains" and "Famous First Flights That Changed History: Sixteen Dramatic Adventures,"
            which he wrote with his son. In 1965 Thomas began a new television series, "The World of Lowell Thomas,"
            which aired on the British Broadcasting Corporation network. The end of the decade saw Thomas begin to
            gather information for an autobiography that he hoped one day to write. The end of the decade also saw
            Frances's health begin to fail.
        </p>
        <p id="info">
            Thomas led a full and active life into his eighties. Despite the death of Frances in 1975 and the end of his
            regular news broadcast in 1976, Thomas continued writing drafts of his autobiography with the help of his
            editor, Lawrence Elliott. Eventually, Thomas wrote a two-part autobiography: "Good Evening Everybody: From
            Cripple Creek to Samarkand," published in 1976 and "So Long until Tomorrow: From Quaker Hill to Kathmandu,"
            published in 1977. Thomas did not retire when he ended his daily news broadcast. He was featured on the
            television series "Lowell Thomas Remembers" and went on to broadcast hundreds of short radio spots called
            "The Best Years" about the lives of notable people who accomplished much in their older years. In 1977
            Thomas married Marianna Munn. In characteristic style, a 50,000 mile honeymoon to the Arctic, the South Seas
            and the Himalayas followed their wedding. On 29 August 1981 Lowell Thomas, age 89, died.
        </p>
    </div> <!--/.col-xs-12-->

    <ul class="breadcrumb">
        <li><a href="http://www.marist.edu" target="_blank">Marist Home</a></li>
        <li><a href="http://library.marist.edu/" target="_blank">Marist Library</a></li>
        <li><a href="http://library.marist.edu/archives/index.html" target="_blank">Home</a></li>
        <li><a href="http://library.marist.edu/archives/LTP/LTP.xml" target="">LT Papers</a></li>
    </ul>
    <div id="footer">
        <div class="contact">
            <div class="mailing">
                <ul>
                    <li>James A. Cannavino Library, First Floor, Room 134</li>
                    <li><a href="mailto: library.archives@marist.edu">library.archives@marist.edu</a> </li>
                    <li>(845) 575-3364</li>
                </ul>
                <ul>
                    <li>This project was funded by the National Historical Publications and Records Commission</li>
                </ul>
            </div>
        </div>
        <div class="flinks">
            <ul id="f-util-links">
                <li><a class="icon" href="https://www.facebook.com/maristarchives"
                        onClick="_gaq.push(['_trackEvent', 'SCRCLinks', 'Click', 'follow-facebook']);"><img
                            src="../styles/images/facebook.png" />Facebook</a></li>
                <li><a class="icon" href="https://twitter.com/MaristArchives"
                        onClick="_gaq.push(['_trackEvent', 'SCRCLinks', 'Click', 'follow-twitter']);"><img
                            src="../styles/images/twitter.png" />Twitter</a></li>
                <li><a class="icon" href="https://pinterest.com/maristarchives"
                        onClick="_gaq.push(['_trackEvent', 'SCRCLinks', 'Click', 'follow-pinterest']);"><img
                            src="../styles/images/pinterest.png" />Pintrest</a></li>
                <li><a class="icon" href="https://www.instagram.com/maristarchives/"
                        onClick="_gaq.push(['_trackEvent', 'SCRCLinks', 'Click', 'follow-instagram']);"><img
                            src="../styles/images/instagram.png" />Instagram</a></li>
                <li><a class="icon" href="https://www.youtube.com/channel/UCVjKlK3e6wPWumYzs0byPDQ"
                        onClick="_gaq.push(['_trackEvent', 'SCRCLinks', 'Click', 'follow-youtube']);"><img
                            src="../styles/images/youtube.png" />YouTube</a></li>
            </ul>
        </div>
    </div>
</body>

</html>